<%= form_with(model: change_order) do |form| %>
  <% if change_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estimated.errors.count, "error") %> prohibited this change_order from being saved:</h2>
      <ul>
        <% change_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div>
    <%= image_tag  "https://thunderdemolition.com/wp-content/uploads/2024/08/Untitled-design-3.png", size: "170" %>
  </div>
  <br>
  <div id="table">
    <table  class="table table-bordered table-sm"  style="width:80%">
      <thead>
      <tr>
        <th>COMPANY NAME</th>
        <th></th>
        <th><%= form.hidden_field :cost_sheet_id, value: @variante ,style: "width:100px;" %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= form.text_field :cname,  :size=>"20", :maxlength=>"254" %></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th>PROJECT NAME</th>
        <th>JOB SITE ADDRESS</th>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
      <td><%= form.text_field :code, :size => "20", :value => (@cost_sheet&.pmanager.present? ? @cost_sheet.pmanager : ''), :maxlength => "254" %></td>
      <td><%= form.text_field :job_site, :size => "20", :value => (@cost_sheet&.address.present? ? @cost_sheet.address : ''), :maxlength => "254" %></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th>PHONE</th>
        <th>EMAIL</th>
        <th>DATE OF REQUEST</th>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td><%= form.text_field :phone, :size=>"20", :maxlength=>"254" %></td>
        <td><%= form.text_field :email, :size=>"20", :maxlength=>"254" %></td>
        <td><%= form.date_field :date, :required => true %></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td class="bottom-line"></td>
        <td class="bottom-line"></td>
        <td class="bottom-line"></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th>CONTRACT AMOUNT:</th>
        <th></th>
        <th><%= form.number_field :corder4, style: "width:100px;" %></th>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th>CHARGE ORDER DESCRIPTION:</th>
        <td><%= form.text_area :description, rows: 7, cols: 40 %></td>
        <tH> AMOUNT:  <%= form.number_field :corder1, style: "width:100px;" %></tH>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th>EXCLUSIONS:</th>
        <td><%= form.text_field :vendor,  :size=>"40", :maxlength=>"254" %></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th>ADDITIONAL DAYS:</th>
        <td></td>
        <td><%= form.number_field :corder5, style: "width:100px;" %></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td class="bottom-line"></td>
        <td class="bottom-line"></td>
        <td class="bottom-line"></td>
      </tr>
      </tbody>
      <tr style="height: 20px;"></tr>
      <tbody>
      <tr>
        <th>MATERIAL / SUBCONTRATORS</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th><%= form.text_field :mdefault1,  :size=>"20", :maxlength=>"254" %></th>
        <td><%= form.text_field :mdescription1,  :size=>"40", :maxlength=>"254" %></td>
        <td><%= form.number_field :mtotal1, style: "width:100px;" %></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th><%= form.text_field :mdefault2,  :size=>"20", :maxlength=>"254" %></th>
        <td><%= form.text_field :mdescription2,  :size=>"40", :maxlength=>"254" %></td>
        <td><%= form.number_field :mtotal2, style: "width:100px;" %></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th><%= form.text_field :mdefault3,  :size=>"20", :maxlength=>"254" %></th>
        <td><%= form.text_field :mdescription3,  :size=>"40", :maxlength=>"254" %></td>
        <td><%= form.number_field :mtotal3, style: "width:100px;" %></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th>COST:</th>
        <td></td>
        <th><%= form.number_field :cost, style: "width:100px;" %></th>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
  <br>
<% end %>

<script>

</script>