<div  class="contextual">
  <%= link_to 'New Change Order', new_change_order_path(parametro: params[:parametro]), class: 'btn btn-sm btn-secondary', style: 'margin-right: 15px; color: black;' %>
</div>
<h1>Change Orders</h1>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th>Change Order:</th>
      <th>Name Project</th>
      <th>Location</th>
      <th>Charge Order #</th>
      <th>Date of Request</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @change_orders.each do |rfi| %>
      <tr>
        <td><%= rfi.daily_number %></td>
        <td><%= rfi.code %></td>
        <td><%= rfi.job_site %></td>
        <td><%= rfi.number %></td>
        <td>
          <% if rfi.date %>
            <%= rfi.date.strftime('%m/%d/%Y') %>
          <% else %>
          <% end %>
        </td>
        <td><%= number_to_currency(rfi.corder1, :precision => 2) %></td>
        <td class="buttons">
          <%= link_to('Show', rfi, :class => 'btn btn-sm btn-info') %> |
          <%= link_to 'show Thunder D', show_alternative_change_order_path(rfi), method: :get, class: 'btn' %> |
          <%= link_to('Edit', edit_change_order_path(rfi), :class => 'btn btn-sm btn-warning') %> |
          <%= link_to('Delete', rfi, :method => :delete,:class => 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' }) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<% unless @result.nil? %>
  <p> = <%= @result %> </p>
<% end %>

<script>
    const tableHeaders = document.querySelectorAll("thead th");
    for (const header of tableHeaders) {
        header.style.backgroundColor = "rgb(162,252,158)";
    }

</script>