<%= form_with(model: leed) do |form| %>
  <% if leed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estimated.errors.count, "error") %> prohibited this estimated from being saved:</h2>
      <ul>
        <% leed.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <br>
  <div id="table">
    <table class="table table-bordered table-sm" style="width:80%">
      <thead>
      <tr>
        <th>PROJECT</th><th>DATE</th><th></th><th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= form.text_field :project, id: "location", value: @location %></td>
        <td><%= form.date_field :date, :required => true %></td>
        <td></td><td></td>
      </tr>
      </tbody>
      <tr style="height: 20px;"></tr>
      <tbody>
      <tr>
        <th>TOTAL CONSTRUCTION WASTE	</th>
        <td></td><td></td><td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th>TOTAL DIVERTED WASTE</th>
        <td></td>
        <th>PERCENT OF WASTE DIVERTED</th>
        <td><%= form.text_field :porcen, id: "porcentage", style: "width:70px;" %> %</td>
      </tr>
      </tbody>
      <tr style="height: 20px;"></tr>
      <tr style="height: 20px;"></tr>
    </table>
    <br>
    <table class="table table-bordered table-sm" style="width:80%">
      <thead>
      <tr>
        <th>MATERIAL</th>
        <th>DISPOSAL HAULER</th>
        <th>DISPOSED IN LANDFILL<p>(TONS)</th>
        <th>RECYCLED<p>(TONS)</th>
        <th>SALVAGED<p>(TONS)</th>
        <th>REUSED<p>(TONS)</th>
        <th>TOTAL DIVERTED<p>(TONS)</th>
      </tr>
      </thead>
      <%
        # lid: override landfill id (default "landfillN"); lex: add class:'sumland' on landfill input
        # rv: recycled pre-fill value; lv: landfill pre-fill value; rid: add id to recycled input
        materials = [
          { lbl: 'ASPHALT',            n: 1,  cls: 'asphalt',    rv: @tasphalt,    rid: false, lex: false, lv: nil },
          { lbl: 'CONCRETE',           n: 2,  cls: 'concrete',   rv: @concrete,    rid: true,  lex: false, lv: nil },
          { lbl: 'PLUMBING FIXTURES',  n: 3,  cls: 'plumbing',   rv: nil,          rid: true,  lex: false, lv: nil },
          { lbl: 'FERROUS METALS',     n: 4,  cls: 'ferrous',    rv: @ferrous,     rid: true,  lex: false, lv: nil },
          { lbl: 'NON-FERROUS METALS', n: 5,  cls: 'nonferrous', rv: @nonferrous,  rid: true,  lex: false, lv: nil },
          { lbl: 'WOOD',               n: 6,  cls: 'wood',       rv: nil,          rid: true,  lex: false, lv: nil },
          { lbl: 'GLASS',              n: 7,  cls: 'glass',      rv: nil,          rid: true,  lex: false, lv: nil },
          { lbl: 'CLAY BRICK',         n: 8,  cls: 'brick',      rv: nil,          rid: true,  lex: false, lv: nil },
          { lbl: 'BOND PAPER',         n: 9,  cls: 'paper',      rv: nil,          rid: true,  lex: false, lv: nil },
          { lbl: 'NEWSPRINT',          n: 10, cls: 'newsprint',  rv: nil,          rid: true,  lex: false, lv: nil },
          { lbl: 'CARDBOARD',          n: 11, cls: 'cardboard',  rv: nil,          rid: true,  lex: false, lv: nil },
          { lbl: 'PLASTIC',            n: 12, cls: 'plastic',    rv: nil,          rid: true,  lex: false, lv: nil },
          { lbl: 'GYPSUM',             n: 13, cls: 'gypsun',     rv: nil,          rid: true,  lex: false, lv: nil },
          { lbl: 'PAINT',              n: 14, cls: 'paint',      rv: nil,          rid: true,  lex: true,  lv: nil },
          { lbl: 'INSULATION',         n: 15, cls: 'insulation', rv: nil,          rid: true,  lex: true,  lv: nil },
          { lbl: 'C&D / TRASH',        n: 16, cls: 'cd',         rv: nil,          rid: true,  lex: true,  lv: @ttrash },
          { lbl: 'VEGETATION / TREES', n: 17, cls: 'vegetation', rv: @tvegetation, rid: true,  lex: true,  lv: nil },
          { lbl: 'FILL',               n: 19, cls: 'fill',       rv: @tfill,       rid: true,  lex: true,  lv: nil, lid: "landfill17" },
          { lbl: 'OTHER',              n: 18, cls: 'other',      rv: @misc,        rid: true,  lex: true,  lv: nil },
        ]
      %>
      <% materials.each do |m| %>
        <% n = m[:n] %>
        <tbody><tr>
          <th><%= m[:lbl] %></th>
          <td><%= form.text_field :"method#{n}" %></td>
          <% l_opts = { id: m[:lid] || "landfill#{n}", style: "width:70px;" }
             l_opts[:value] = m[:lv] if m[:lv]
             l_opts[:class] = 'sumland' if m[:lex] %>
          <td class="sumland"><%= form.text_field :"landfill#{n}", **l_opts %></td>
          <% r_opts = { style: "width:70px;" }
             r_opts[:value] = m[:rv] if m[:rv]
             r_opts[:id] = "recycled#{n}" if m[:rid] %>
          <td class="<%= m[:cls] %>"><%= form.text_field :"recycled#{n}", **r_opts %></td>
          <td class="<%= m[:cls] %>"><%= form.text_field :"salvage#{n}", id: "salvage#{n}", style: "width:70px;" %></td>
          <td class="<%= m[:cls] %>"><%= form.text_field :"reused#{n}", id: "reused#{n}", style: "width:70px;" %></td>
          <td class="totales"><%= form.text_field :"total#{n}", id: "total#{n}", style: "width:70px;" %></td>
        </tr></tbody>
      <% end %>
      <tbody>
      <tr>
        <td></td>
        <th>TOTAL LANDFILLED WASTE</th>
        <td class="totaltotal"><%= form.text_field :tlandwaste, id: "tlandwaste", style: "width:70px;" %></td>
        <td></td><td></td>
        <th>TOTAL DIVERTED WASTE</th>
        <td class="totaltotal"><%= form.text_field :tdivewaste, id: "tdivewaste", style: "width:70px;" %></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td></td><td></td><td></td><td></td><td></td>
        <th>TOTAL CONSTRUCTION WASTE</th>
        <td><%= form.text_field :tconswaste, id: "tconswaste", style: "width:70px;" %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
  <br>
<% end %>

<script>
    const tableHeaders = document.querySelectorAll("thead, th");
    for (const header of tableHeaders) {
        header.style.backgroundColor = "#dfffdf";
    }

    $(document).ready(function() {
        updatesum();
        porcentage();
        $('.sumland, .asphalt, .concrete, .plumbing, .ferrous, .nonferrous, .wood, .glass, .brick, .paper, .newsprint, .cardboard, .plastic, .gypsun, .paint, .insulation, .cd, .vegetation, .fill, .other input').on('input', function() {
            updatesum();
            porcentage();
        });
    });

    function sumByClass(cls, id) {
        var total = 0;
        $('.' + cls + ' input').each(function() {
            var v = parseFloat($(this).val());
            total += isNaN(v) ? 0 : v;
        });
        $('#' + id).val(total);
    }

    function updatesum() {
        [
            ['sumland','tlandwaste'], ['asphalt','total1'],    ['concrete','total2'],
            ['plumbing','total3'],    ['ferrous','total4'],    ['nonferrous','total5'],
            ['wood','total6'],        ['glass','total7'],      ['brick','total8'],
            ['paper','total9'],       ['newsprint','total10'], ['cardboard','total11'],
            ['plastic','total12'],    ['gypsun','total13'],    ['paint','total14'],
            ['insulation','total15'], ['cd','total16'],        ['other','total18'],
            ['vegetation','total17'], ['fill','total19'],
            ['totales','tdivewaste'], ['totaltotal','tconswaste']
        ].forEach(function(p) { sumByClass(p[0], p[1]); });
    }

    function porcentage() {
        let v1 = $('#tdivewaste').val();
        let v2 = $('#tconswaste').val();
        va1 = parseFloat(v1)
        va2 = parseFloat(v2)
        let ttotal = va1 / va2 * 100;
        $('#porcentage').val(ttotal);
    }
</script>
