<%
equip_rows = [
  { n:1,  lbl:'EXCAVATOR 1', lbl_r:'EXCAVATOR',  ec:1,  ed:1  },
  { n:2,  lbl:'EXCAVATOR 2', lbl_r:'EXCAVATOR',  ec:2,  ed:2  },
  { n:3,  lbl:'SCISSOR LIFT',                     ec:1,  ed:3  },
  { n:4,  lbl:'LOADER',                           ec:4,  ed:4  },
  { n:5,  lbl:'DUMP TRUCK',                       ec:5,  ed:5  },
  { n:6,  lbl:'BOBCAT',                           ec:6,  ed:6  },
  { n:12, lbl:'UTILITY TRUCK', l_tag:'td',        ec:12, ed:12 },
  { n:7,  lbl:'FLOOR SCRAPER',                    ec:7,  ed:7  },
  { n:8,  lbl:'WATER TRUCK',                      ec:8,  ed:8  },
  { n:9,  lbl:'COMPRESSOR',                       ec:9,  ed:4  },
  { n:10, lbl:nil,                                ec:10, ed:10 },
  { n:11, lbl:nil,                                ec:11, ed:4  },
]

mat_rows = [
  { lbl:'TRASH / C&D',      ed::tdescription1, eq::tqtyyds1,  ep::tpricing1, et::ttotal1,  cd::tdescription1, cq::tqtyyds1,  ct::ttotal1,  id_base:'trash'    },
  { lbl:'TREE / VEGETATION', ed::tdescription2, eq::tqtyyds2,  ep::tpricing2, et::ttotal2,  cd::tdescription2, cq::tqtyyds2,  ct::ttotal2,  id_base:'tree'     },
  { lbl:'CONCRETE',          ed::tdescription3, eq::tqtyyds3,  ep::tpricing3, et::ttotal3,  cd::tdescription3, cq::tqtyyds3,  ct::ttotal3,  id_base:'concrete' },
  { lbl:'CONCRETE / REBAR',  ed::tdescription6, eq::tqtyyds6,  ep::tpricing6, et::ttotal6,  cd::tdescription6, cq::tqtyyds6,  ct::ttotal6,  id_base:'rebar'    },
  { lbl:'ASPHALT',           ed::tdescription4, eq::tqtyyds4,  ep::tpricing4, et::ttotal4,  cd::tdescription4, cq::tqtyyds4,  ct::ttotal4,  id_base:'asphalt'  },
  { lbl:'FILL',              ed::mdescription1, eq::mqtysfft1, ep::mpricing1, et::mtotal1,  cd::mdescription1, cq::mqtysfft1, ct::mtotal1,  id_base:'fill'     },
]

permit_rows = [
  { lbl:'DEMO',       n:1 },
  { lbl:'PLUMBING',   n:2 },
  { lbl:'SEPTIC',     n:8, e_check:8, e_disp:2 },
  { lbl:'ELECTICAL',  n:3 },
  { lbl:'DERM',       n:4 },
  { lbl:'TREE',       n:5 },
  { lbl:'MECHANICAL', n:6 },
  { lbl:'MOT',        n:7 },
]

erosion_rows = [
  { lbl:'SILT FENCE',        ed::mdescription2,   eq::mqtysfft2, ep::mpricing2,   et::mtotal2,
                              cd::mdescription2,   cq::mqtysfft2, cp::mpricing2,   ct::mtotal2 },
  { lbl:'ROCK',              ed::tdescription5,   eq::tqtysfft5, ep::tpricing5,   et::ttotal5,
                              cd::tdescription5,   cq::tqtysfft5, cp:nil,           ct::ttotal5, id_base:'rock' },
  { lbl:'FILTER FABRIC',     ed::ec_description3, eq::ec_qty3,   ep::ec_pricing3, et::ec_total3,
                              cd::ec_description3, cq::ec_qty3,   cp::ec_pricing3,  ct::ec_total3 },
  { lbl:'TURBIDITY CURTIN',  ed::ec_description4, eq::ec_qty4,   ep::ec_pricing4, et_check::ec_total4, et_display::ec_total3,
                              cd::ec_description4, cq::ec_qty4,   cp::ec_pricing4,  ct::ec_total4 },
  { lbl:'GUTTER BUDDY',      ed::ec_description5, eq::ec_qty5,   ep::ec_pricing5, et_check::ec_total5, et_display::ec_total3,
                              cd::ec_description5, cq::ec_qty5,   cp::ec_pricing5,  ct::ec_total5 },
  { lbl:'SOD / HYDRO,SEEDS', ed::mdescription9,   eq::mqtysfft9, ep::mpricing9,   et::mtotal9,
                              cd::mdescription9,   cq::mqtysfft9, cp::mpricing9,    ct::mtotal9 },
]

tf_rows = [
  { lbl:'POLICE FEE',       n:31 },
  { lbl:'CHAIN LINK FENCE', n:3  },
]

oot_rows = [
  { lbl:'HOTEL',        r_tag:'th',
    e_desc::mdescription17,   e_qty::mqtysfft17, e_price::mpricing17,    e_check::mtotal7,    e_total::mtotal17,
    c_desc::mdescription17,   c_qty::mqtysfft17, c_price::mpricing17,    c_total::mtotal17 },
  { lbl:'MOBILIZATION',
    e_desc::mov_pdescription2, e_qty::mov_pqty2, e_price::mov_pricing2,  e_check::mov_total2, e_total::mov_total2,
    c_desc::mov_pdescription2, c_qty::mov_pqty2, c_price::mov_pricing2,  c_total::mov_total2 },
  { lbl:'PERDIEM',
    e_desc::mov_pdescription3, e_qty::mov_pqty3, e_price::mov_pricing3,  e_check::mov_total3, e_total::mov_total3,
    c_desc::mov_pdescription3, c_qty::mov_pqty3, c_price::mov_pricing3,  c_total::mov_total3 },
]

misc_rows = [
  { lbl:'ASBESTOS',            n:4  },
  { lbl:'FREON REMOVAL',       n:11 },
  { lbl:'PUMP-OUT',            n:5  },
  { lbl:'TORCHING',            n:7  },
  { lbl:'TRASH CHUTE',         n:8  },
  { lbl:'TEMP BATHS',          n:18 },
  { lbl:'BARRICANES',          n:19 },
  { lbl:'COVERED WALKWAY',     n:20 },
  { lbl:'TRIMMING / GRINDING', n:32 },
]

scrap_rows = [
  { lbl:'FERROUS',     n:13, tons::ferrous    },
  { lbl:'NON-FERROUS', n:14, tons::nonferrous },
  { lbl:'MISC',        n:15, tons::misc       },
]

overtime_rows = [
  { lbl:'LABOR',      sh::totalhoursl, ov:'@overl', so::overl, tot::totalover1 },
  { lbl:'OPERATOR',   sh::totalhourso, ov:'@overo', so::overo, tot::totalover2 },
  { lbl:'SUPERVISOR', sh::totalhourss, ov:'@overs', so::overs, tot::totalover3 },
  { lbl:'DRIVER',     sh::totalhoursd, ov:'@overd', so::overd, tot::totalover4 },
]
%>
<%= link_to 'Edit', edit_cost_sheet_path(@cost_sheet) %> |
<%= link_to 'Back', cost_sheets_path %>
<br><br>
<button id="print-button">Print</button>
<br>
<div>
  <div id="section-to-print">
    <h3><%= @estimated.address %></h3>
    <div id="table">
      <table class="table table-bordered table-sm" style="width:80%">
        <tbody><tr>
          <td style="text-align:left;">
            <span style="margin-left:0px;"><b>Name</b>:</span> <%= @cost_sheet.name %>
            <span style="margin-left:80px;"><b>Address</b>:</span> <%= @cost_sheet.address %>
          </td>
          <td></td>
          <td style="text-align:left;">
            <span style="margin-right:0px;"><b>Project Manager:</b></span> <%= @cost_sheet.pmanager %>
            <span style="margin-left:50px;"><b>Email:</b></span> <%= @cost_sheet.pemail %>
            <span style="margin-left:50px;"><b>Cell:</b></span> <%= @cost_sheet.pcell %>
          </td>
          <th></th>
        </tr></tbody>
        <tbody><tr>
          <td> </td><td></td>
          <td style="text-align:left;">
            <span style="margin-left:0px;"><b>Supervisor:</b></span> <%= @cost_sheet.supervisor %>
            <span style="margin-left:85px;"><b>Cell:</b></span> <%= @cost_sheet.scell %>
          </td>
          <th></th>
        </tr></tbody>
        <tr style="height:20px;"></tr>
        <tbody><tr>
          <td> </td><td></td>
          <td style="text-align:left;">
            <span style="margin-left:0px;"><b>Start Date:</b></span>
            <%= @cost_sheet.sdate.present? ? @cost_sheet.sdate.strftime('%m/%d/%Y') : '0/0/0' %>
            <span style="margin-left:22px;"><b>Finish Date:</b></span>
            <%= @cost_sheet.fdate.present? ? @cost_sheet.fdate.strftime('%m/%d/%Y') : '0/0/0' %>
          </td>
          <th></th>
        </tr></tbody>
        <tbody><tr>
          <td> </td><td></td>
          <td style="text-align:left;">
            <span style="margin-left:0px;"><b>NOC:</b></span> <%= @cost_sheet.noc %>
            <span style="margin-left:85px;"><b>Date:</b></span>
            <%= @cost_sheet.nocdate.present? ? @cost_sheet.nocdate.strftime('%m/%d/%Y') : '0/0/0' %>
            <span style="margin-left:50px;"><b>Exp:</b></span>
            <%= @cost_sheet.nocedate.present? ? @cost_sheet.nocedate.strftime('%m/%d/%Y') : '0/0/0' %>
          </td>
          <th></th>
        </tr></tbody>
        <tbody><tr>
          <td> </td><td></td>
          <td style="text-align:left;">
            <span style="margin-left:0px;"><b>NTO:</b></span> <%= @cost_sheet.nto %>
            <span style="margin-left:85px;"><b>Date:</b></span>
            <%= @cost_sheet.ntodate.present? ? @cost_sheet.ntodate.strftime('%m/%d/%Y') : '0/0/0' %>
          </td>
          <th></th>
        </tr></tbody>
      </table>
    </div>
    <br>
    <table class="table table-bordered table-sm" style="width:70%">
      <thead><tr>
        <th>ACTIVITY</th><th>DESCRIPTION</th><th>QTY MEN</th><th>DAYS</th><th>MEN HRS</th>
        <th>PRICE HRS</th><th>TOTAL</th>
        <th>ACTIVITY</th><th>QTY MEN</th><th>DAYS</th><th>MEN HRS</th><th>PRICE HRS</th><th>TOTAL</th>
      </tr></thead>

      <% (1..12).each do |i| %>
        <% desc_f = (i == 3) ? :adescriptio3 : :"adescription#{i}" %>
        <% hours = @estimated.send(:"ahours#{i}"); ov = @estimated.send(:"over#{i}") %>
        <% atot = @estimated.send(:"atotal#{i}"); ctot = @cost_sheet.send(:"atotal#{i}") %>
        <tbody><tr>
          <td class="celda2"><%= @selector1[i-1] %></td>
          <td><%= @estimated.send(desc_f) %></td>
          <td><%= @estimated.send(:"aemp#{i}") %></td>
          <td><%= @estimated.send(:"adays#{i}") %></td>
          <td><%= hours == 0 ? "" : hours %><%= i >= 6 ? (ov == 0 ? "" : " #{ov}") : "" %></td>
          <td><%= @estimated.send(:"apricing#{i}") %></td>
          <td><%= atot == 0.0 ? "" : number_to_currency(atot, precision: 2) %></td>
          <th class="celda2"></th>
          <td><%= instance_variable_get("@max#{i}") %></td>
          <td><%= @dayly_counts[i-1] %></td>
          <td><%= instance_variable_get("@sumhours#{i}") %></td>
          <td><%= @cost_sheet.send(:"apricing#{i}") %></td>
          <td><%= ctot == 0.0 ? "" : number_to_currency(ctot, precision: 2) %></td>
        </tr></tbody>
      <% end %>

      <tbody><tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <th class="celda2">OVER TIME</th><th class="celda2">TOTAL HOURS</th>
        <td class="celda2">DAYS</td><td class="celda2">HOURS</td><td class="celda2">TOTAL</td><td></td>
      </tr></tbody>

      <% overtime_rows.each do |row| %>
        <tbody><tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          <td><%= row[:lbl] %></td>
          <td><%= @daily&.sum(row[:sh]) || '' %></td>
          <td><%= instance_variable_get(row[:ov]) %></td>
          <td><%= @daily&.sum(row[:so]) || '' %></td>
          <td class="celda1"><%= number_to_currency(@cost_sheet.send(row[:tot]), precision: 2) %></td>
          <td></td>
        </tr></tbody>
      <% end %>

      <tbody><tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <th>TOTAL OVER T.</th><td></td><td></td><td></td>
        <th><%= number_to_currency(@cost_sheet.totaltotalover, precision: 2) %></th><td></td>
      </tr></tbody>
      <tbody><tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <th>ADD. DAYS C.O</th>
        <td><%= @change_order&.sum(:corder5) || '' %></td>
      </tr></tbody>
      <tbody><tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.atotal, precision: 2) %></td>
        <tH>Qty Reports</tH><td><%= @daily.count %></td><th></th><th></th>
        <th>TOTAL</th>
        <td><%= number_to_currency(@cost_sheet.atotal, precision: 2) %></td>
      </tr></tbody>
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <tH></tH><td></td><td></td><td></td><td></td><td></td><td></td>
        <tH>Last date Daily Log</tH>
        <td><%= @daily.maximum(:date).present? ? @daily.maximum(:date).strftime('%m-%d-%y') : 0 %></td>
        <th></th><th></th>
        <th>DIFFERENCES</th>
        <th><%= number_to_currency(@cost_sheet.atotalvs, precision: 2) %></th>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- EQUIPMENT -->
      <thead><tr>
        <th>EQUIP.</th><th>DESCRIPTION</th><th>QTY</th><th>DAYS</th><th>QTY. GAL.</th>
        <th> GAL. PRICE</th><th>TOTAL</th>
        <th>EQUIP.</th><Th>DESCRIPTION</Th><th>QTY</th><th>DAYS</th><th>QTY. GAL.</th><th>TOTAL EQUIP.</th>
      </tr></thead>
      <tbody><tr>
        <td class="celda2"></td><td></td><td></td><td></td><td></td>
        <th>$ <%= @estimated.fpricing1 %></th><td></td>
        <td class="celda2"></td><td></td><td></td><td></td>
        <th>$ <%= @cost_sheet.fpricing1 %></th><td></td>
      </tr></tbody>

      <% equip_rows.each do |row| %>
        <% n = row[:n]; lbl = row[:lbl] || @estimated.send(:"edefault#{n}") %>
        <% lbl_r = row[:lbl_r] || lbl %>
        <% l_tag = row[:l_tag] || (row[:lbl] ? 'th' : 'td') %>
        <% r_tag = (row[:lbl].nil? || row[:l_tag] == 'td') ? 'td' : 'th' %>
        <% ec = row[:ec]; ed = row[:ed] %>
        <tbody><tr>
          <<%= l_tag %> class="celda2"><%= lbl %></<%= l_tag %>>
          <td><%= @estimated.send(:"edescription#{n}") %></td>
          <td><%= @estimated.send(:"eqty#{n}") %></td>
          <td><%= @estimated.send(:"edaywk#{n}") %></td>
          <td><%= @estimated.send(:"eresult#{n}") %></td>
          <td><%= @estimated.send(:"epricing#{n}") %></td>
          <% et = @estimated.send(:"etotal#{ec}") %>
          <td><%= et == 0.0 ? "" : number_to_currency(@estimated.send(:"etotal#{ed}"), precision: 2) %></td>
          <<%= r_tag %> class="celda2"><%= lbl_r %></<%= r_tag %>>
          <td><%= @cost_sheet.send(:"edescription#{n}") %></td>
          <td><%= @cost_sheet.send(:"eqty#{n}") %></td>
          <td><%= @cost_sheet.send(:"edaywk#{n}") %></td>
          <td><%= @cost_sheet.send(:"eresult#{n}") %></td>
          <% ct = @cost_sheet.send(:"etotal#{n}") %>
          <td><%= ct == 0.0 ? "" : number_to_currency(ct, precision: 2) %></td>
        </tr></tbody>
      <% end %>

      <tbody><tr>
        <td class="celda2"></td><td></td><td></td>
        <th>TOTAL GAL.</th><th><%= @estimated.totalfuel %></th><td></td><td></td>
        <td class="celda2"></td><td></td><td></td>
        <th>TOTAL GAL.</th><td><%= @cost_sheet.totalfuel %></td><td></td>
      </tr></tbody>
      <tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= @estimated.etotal == 0.0 ? "" : number_to_currency(@estimated.etotal, precision: 2) %></td>
        <tH>TOTAL</tH><th></th><th></th><th></th><th></th>
        <td><%= number_to_currency(@cost_sheet.etotal, precision: 2) %></td>
      </tr>
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <tH></tH><td></td><td></td><td></td><td></td><td></td><td></td>
        <tH></tH><th></th><th></th><th></th>
        <th>DIFFERENCES</th>
        <th><%= number_to_currency(@cost_sheet.etotalvs, precision: 2) %></th>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- SAW-CUTTING -->
      <thead><tr>
        <th>SAW-CUTTING</th><th>DESCRIPTION</th><th>QTY/SF/LF</th><th>DAYS</th><TH></TH>
        <th>UNIT.PRICE</th><th>TOTAL</th>
        <th>SAW-CUTTING</th><th>DESCRIPTION</th><th>QTY/SF/LF</th><th>DAYS</th>
        <th>UNIT.PRICE</th><th>TOTAL</th>
      </tr></thead>
      <tbody><tr>
        <td class="celda2"><%= @estimated.saw1 %></td>
        <td><%= @estimated.sdescription1 %></td>
        <td><%= @estimated.sqtysflf1 %></td><td><%= @estimated.sdays1 %></td><td></td>
        <td><%= @estimated.spricing1 %></td>
        <td><%= @estimated.stotal1 == 0.0 ? "" : number_to_currency(@estimated.stotal1, precision: 2) %></td>
        <th class="celda2"><%= @cost_sheet.saw1 %></th>
        <td><%= @cost_sheet.sdescription1 %></td>
        <td><%= @cost_sheet.sqtysflf1 %></td><td><%= @cost_sheet.sdays1 %></td>
        <td><%= @cost_sheet.spricing1 %></td>
        <td><%= @cost_sheet.stotal1 == 0.0 ? "" : number_to_currency(@cost_sheet.stotal1, precision: 2) %></td>
      </tr></tbody>
      <tbody><tr>
        <td class="celda2"><%= @estimated.saw2 %></td>
        <td><%= @estimated.sdescription2 %></td>
        <td><%= @estimated.sqtysflf2 %></td><td><%= @estimated.sdays2 %></td><td></td>
        <td><%= @estimated.spricing2 %></td>
        <td><%= @estimated.stotal2 == 0.0 ? "" : number_to_currency(@estimated.stotal2, precision: 2) %></td>
        <th class="celda2"><%= @cost_sheet.saw3 %></th>
        <td><%= @cost_sheet.sdescription2 %></td>
        <td><%= @cost_sheet.sqtysflf3 %></td><td><%= @cost_sheet.sdays3 %></td>
        <td><%= @cost_sheet.spricing3 %></td>
        <td><%= @cost_sheet.stotal3 == 0.0 ? "" : number_to_currency(@cost_sheet.stotal3, precision: 2) %></td>
      </tr></tbody>
      <tbody><tr>
        <td class="celda2"><%= @estimated.saw3 %></td>
        <td><%= @estimated.sdescription3 %></td>
        <td><%= @estimated.sqtysflf3 %></td><td><%= @estimated.sdays3 %></td><td></td>
        <td><%= @estimated.spricing3 %></td>
        <td><%= @estimated.stotal3 == 0.0 ? "" : number_to_currency(@estimated.stotal3, precision: 2) %></td>
        <th class="celda2"><%= @cost_sheet.saw3 %></th>
        <td><%= @cost_sheet.sdescription3 %></td>
        <td><%= @cost_sheet.sqtysflf3 %></td><td><%= @cost_sheet.sdays3 %></td>
        <td><%= @cost_sheet.spricing3 %></td>
        <td><%= @cost_sheet.stotal3 == 0.0 ? "" : number_to_currency(@cost_sheet.stotal3, precision: 2) %></td>
      </tr></tbody>
      <tbody><tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.stotal, precision: 2) %></td>
        <tH>TOTAL</tH><th></th><th></th><th></th><th></th>
        <td><%= number_to_currency(@cost_sheet.stotal, precision: 2) %></td>
      </tr></tbody>
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <tH></tH><td></td><td></td><td></td><td></td><td></td><td></td>
        <th></th><th></th><th></th><th></th>
        <th>DIFFERENCES</th>
        <th><%= number_to_currency(@cost_sheet.stotalvs, precision: 2) %></th>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- MATERIAL DISPOSAL -->
      <thead><tr>
        <th>MATERIAL</th><th>DESCRIPTION</th><th>QTY/YDS</th><th></th><th></th>
        <th>UNIT.PRICE</th><th>TOTAL</th>
        <th>MATERIAL</th><th>DESCRIPTION</th><th>QTY/YDS</th><th></th><th></th><th>TOTAL</th>
      </tr></thead>
      <% mat_rows.each do |row| %>
        <% et = @estimated.send(row[:et]); ct = @cost_sheet.send(row[:ct]) %>
        <tbody><tr>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @estimated.send(row[:ed]) %></td>
          <td<%= row[:id_base] ? " id=\"#{row[:id_base]}1\"" : "" %>><%= @estimated.send(row[:eq]) %></td>
          <td></td><td></td>
          <td><%= @estimated.send(row[:ep]) %></td>
          <td><%= et == 0.0 ? "" : number_to_currency(et, precision: 2) %></td>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @cost_sheet.send(row[:cd]) %></td>
          <td<%= row[:id_base] ? " id=\"#{row[:id_base]}2\"" : "" %>><%= @cost_sheet.send(row[:cq]) %></td>
          <td></td><td></td>
          <td<%= row[:id_base] ? " id=\"#{row[:id_base]}3\"" : "" %>><%= ct == 0.0 ? "" : number_to_currency(ct, precision: 2) %></td>
        </tr></tbody>
      <% end %>
      <tbody><tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.ttotal, precision: 2) %></td>
        <th>TOTAL</th><th></th><th></th><th></th><th></th>
        <td><%= number_to_currency(@cost_sheet.ttotal, precision: 2) %></td>
      </tr></tbody>
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <tH></tH><td></td><td></td><td></td><td></td><td></td><td></td>
        <th></th><th></th><th></th><th></th>
        <th>DIFFERENCES</th>
        <th><%= number_to_currency(@cost_sheet.ttotalvs, precision: 2) %></th>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- PERMITS -->
      <thead><tr>
        <th>PERMITS</th><th>DESCRIPTION</th><th>QTY</th><th></th><th></th>
        <th>UNIT.PRICE</th><th>TOTAL</th>
        <th>PERMITS</th><th>DESCRIPTION</th><th>QTY</th><th></th><th>UNIT.PRICE</th><th>TOTAL</th>
      </tr></thead>
      <% permit_rows.each do |row| %>
        <% n = row[:n]; e_chk = row[:e_check] || n; e_dp = row[:e_disp] || n %>
        <% et = @estimated.send(:"ptotal#{e_chk}"); ct = @cost_sheet.send(:"ptotal#{n}") %>
        <tbody><tr>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @estimated.send(:"pdescription#{n}") %></td>
          <td><%= @estimated.send(:"pqty#{n}") %></td>
          <td></td><td></td>
          <td><%= @estimated.send(:"ppricing#{n}") %></td>
          <td><%= et == 0.0 ? "" : number_to_currency(@estimated.send(:"ptotal#{e_dp}"), precision: 2) %></td>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @cost_sheet.send(:"pdescription#{n}") %></td>
          <td><%= @cost_sheet.send(:"pqty#{n}") %></td>
          <td></td>
          <td><%= @cost_sheet.send(:"ppricing#{n}") %></td>
          <td><%= ct == 0.0 ? "" : number_to_currency(ct, precision: 2) %></td>
        </tr></tbody>
      <% end %>
      <tbody><tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.pptotal, precision: 2) %></td>
        <tH>TOTAL</tH><th></th><th></th><th></th><th></th>
        <td><%= number_to_currency(@cost_sheet.pptotal, precision: 2) %></td>
      </tr></tbody>
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <tH></tH><td></td><td></td><td></td><td></td><td></td><td></td>
        <th></th><th></th><th></th><th></th>
        <th>DIFFERENCES</th>
        <th><%= number_to_currency(@cost_sheet.ptotalvs, precision: 2) %></th>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- EROSION CONTROL -->
      <thead><tr>
        <th>ERROSION CONTROL</th><th>DESCRIPTION</th><th>QTY</th><th></th><th></th>
        <th>UNIT.PRICE</th><th>TOTAL</th>
        <th>ERROSION CONTROL</th><th>DESCRIPTION</th><th>QTY</th><th></th><th>UNIT.PRICE</th><th>TOTAL</th>
      </tr></thead>
      <% erosion_rows.each do |row| %>
        <% et_f = row[:et] || row[:et_check]; et_d = row[:et] || row[:et_display] %>
        <% et = @estimated.send(et_f); ct = @cost_sheet.send(row[:ct]) %>
        <tbody><tr>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @estimated.send(row[:ed]) %></td>
          <td<%= row[:id_base] ? " id=\"#{row[:id_base]}1\"" : "" %>><%= @estimated.send(row[:eq]) %></td>
          <td></td><td></td>
          <td><%= @estimated.send(row[:ep]) %></td>
          <td><%= et == 0.0 ? "" : number_to_currency(@estimated.send(et_d), precision: 2) %></td>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @cost_sheet.send(row[:cd]) %></td>
          <td<%= row[:id_base] ? " id=\"#{row[:id_base]}2\"" : "" %>><%= @cost_sheet.send(row[:cq]) %></td>
          <td></td>
          <% if row[:cp] %>
            <td><%= @cost_sheet.send(row[:cp]) %></td>
          <% else %>
            <td></td>
          <% end %>
          <td<%= row[:id_base] ? " id=\"#{row[:id_base]}3\"" : "" %>><%= ct == 0.0 ? "" : number_to_currency(ct, precision: 2) %></td>
        </tr></tbody>
      <% end %>
      <tbody><tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.ec_total, precision: 2) %></td>
        <th>TOTAL</th><th></th><th></th><th></th><th></th>
        <td><%= number_to_currency(@cost_sheet.ec_total, precision: 2) %></td>
      </tr></tbody>
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <tH></tH><td></td><td></td><td></td><td></td><td></td><td></td>
        <th></th><th></th><th></th><th></th>
        <th>DIFFERENCES</th>
        <th><%= number_to_currency(@cost_sheet.ec_totalvs, precision: 2) %></th>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- TEMP FENCE -->
      <thead><tr>
        <th>TEMP FENCE</th><th>DESCRIPTION</th><th>QTY</th><th></th><th></th>
        <th>UNIT.PRICE</th><th>TOTAL</th>
        <th>TEMP FENCE</th><th>DESCRIPTION</th><th>QTY</th><th></th><th>UNIT.PRICE</th><th>TOTAL</th>
      </tr></thead>
      <% tf_rows.each do |row| %>
        <% n = row[:n]; et = @estimated.send(:"mtotal#{n}"); ct = @cost_sheet.send(:"mtotal#{n}") %>
        <tbody><tr>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @estimated.send(:"mdescription#{n}") %></td>
          <td><%= @estimated.send(:"mqtysfft#{n}") %></td>
          <td></td><td></td>
          <td><%= @estimated.send(:"mpricing#{n}") %></td>
          <td><%= et == 0.0 ? "" : number_to_currency(et, precision: 2) %></td>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @cost_sheet.send(:"mdescription#{n}") %></td>
          <td><%= @cost_sheet.send(:"mqtysfft#{n}") %></td>
          <td></td>
          <td><%= @cost_sheet.send(:"mpricing#{n}") %></td>
          <td><%= ct == 0.0 ? "" : number_to_currency(ct, precision: 2) %></td>
        </tr></tbody>
      <% end %>
      <tbody><tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.tf_total, precision: 2) %></td>
        <th>TOTAL</th><th></th><th></th><th></th><th></th>
        <td><%= number_to_currency(@cost_sheet.tf_total, precision: 2) %></td>
      </tr></tbody>
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <tH></tH><td></td><td></td><td></td><td></td><td></td><td></td>
        <th></th><th></th><th></th><th></th>
        <th>DIFFERENCES</th>
        <th><%= number_to_currency(@cost_sheet.tf_totalvs, precision: 2) %></th>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- OUT OF TOWN -->
      <thead><tr>
        <th>OUT OF TOWN</th><th>DESCRIPTION</th><th>QTY</th><th></th><th></th>
        <th>UNIT.PRICE</th><th>TOTAL</th>
        <th>OUT OF TOWN</th><th>DESCRIPTION</th><th>QTY</th><th></th><th>UNIT.PRICE</th><th>TOTAL</th>
      </tr></thead>
      <% oot_rows.each do |row| %>
        <% r_tag = row[:r_tag] || 'td' %>
        <% ec = @estimated.send(row[:e_check]); et = @estimated.send(row[:e_total]); ct = @cost_sheet.send(row[:c_total]) %>
        <tbody><tr>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @estimated.send(row[:e_desc]) %></td>
          <td><%= @estimated.send(row[:e_qty]) %></td>
          <td></td><td></td>
          <td><%= @estimated.send(row[:e_price]) %></td>
          <td><%= ec == 0.0 ? "" : number_to_currency(et, precision: 2) %></td>
          <<%= r_tag %> class="celda2"><%= row[:lbl] %></<%= r_tag %>>
          <td><%= @cost_sheet.send(row[:c_desc]) %></td>
          <td><%= @cost_sheet.send(row[:c_qty]) %></td>
          <td></td>
          <td><%= @cost_sheet.send(row[:c_price]) %></td>
          <td><%= ct == 0.0 ? "" : number_to_currency(ct, precision: 2) %></td>
        </tr></tbody>
      <% end %>
      <tbody><tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.per_total, precision: 2) %></td>
        <tH>TOTAL</tH><th></th><th></th><th></th><th></th>
        <td><%= number_to_currency(@cost_sheet.per_total, precision: 2) %></td>
      </tr></tbody>
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <tH></tH><td></td><td></td><td></td><td></td><td></td><td></td>
        <th></th><th></th><th></th><th></th>
        <th>DIFFERENCES</th>
        <th><%= number_to_currency(@cost_sheet.per_totalvs, precision: 2) %></th>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- MISCELLANEOUS -->
      <thead><tr>
        <th>MISCELLANEOUS</th><th>DESCRIPTION</th><th>QTY/SF/FT</th><th></th><th></th>
        <th>UNIT.PRICE</th><th>TOTAL</th>
        <th>MISCELLANEOUS</th><th>DESCRIPTION</th><th>QTY/SF/FT</th><th></th><th>UNIT.PRICE</th><th>TOTAL</th>
      </tr></thead>
      <% misc_rows.each do |row| %>
        <% n = row[:n]; et = @estimated.send(:"mtotal#{n}"); ct = @cost_sheet.send(:"mtotal#{n}") %>
        <tbody><tr>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @estimated.send(:"mdescription#{n}") %></td>
          <td><%= @estimated.send(:"mqtysfft#{n}") %></td>
          <td></td><td></td>
          <td><%= @estimated.send(:"mpricing#{n}") %></td>
          <td><%= et == 0.0 ? "" : number_to_currency(et, precision: 2) %></td>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @cost_sheet.send(:"mdescription#{n}") %></td>
          <td><%= @cost_sheet.send(:"mqtysfft#{n}") %></td>
          <td></td>
          <td><%= @cost_sheet.send(:"mpricing#{n}") %></td>
          <td><%= ct == 0.0 ? "" : number_to_currency(ct, precision: 2) %></td>
        </tr></tbody>
      <% end %>
      <tbody><tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.mtotal, precision: 2) %></td>
        <tH>TOTAL</tH><th></th><th></th><th></th><th></th>
        <td><%= number_to_currency(@cost_sheet.mtotal, precision: 2) %></td>
      </tr></tbody>
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <tH></tH><td></td><td></td><td></td><td></td><td></td><td></td>
        <th></th><th></th><th></th><th></th>
        <th>DIFFERENCES</th>
        <th><%= number_to_currency(@cost_sheet.mtotalvs, precision: 2) %></th>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- SUB-CONTRACTORS -->
      <thead><tr>
        <th>SUB C / ALT-</th><th>DESCRIPTION</th><th>QTY/SF/FT</th><th>UNIT.PRICE</th><th></th>
        <th>PROFIT(%)</th><th>TOTAL</th>
        <th>SUB C / ALT-</th><th>DESCRIPTION</th><th>QTY/SF/FT</th><th></th><th>UNIT.PRICE</th><th>TOTAL</th>
      </tr></thead>
      <% (1..3).each do |i| %>
        <% st = @estimated.send(:"subtotal#{i}") %>
        <tbody><tr>
          <td class="celda2"><%= @estimated.send(:"subdefault#{i}") %></td>
          <td><%= @estimated.send(:"subdescription#{i}") %></td>
          <td><%= @estimated.send(:"subqtysfft#{i}") %></td>
          <td><%= @estimated.send(:"subpricing#{i}") %></td>
          <td></td>
          <td><%= @estimated.send(:"subporce#{i}") %></td>
          <td><%= st == 0.0 ? '' : number_to_currency(st, precision: 2) %></td>
          <td class="celda2"><%= @estimated.send(:"subdefault#{i}") %></td>
          <td><%= @cost_sheet.send(:"subdescription#{i}") %></td>
          <td><%= @cost_sheet.send(:"subqtysfft#{i}") %></td>
          <td></td>
          <td><%= @cost_sheet.send(:"subpricing#{i}") %></td>
          <td><%= st == 0.0 ? '' : number_to_currency(st, precision: 2) %></td>
        </tr></tbody>
      <% end %>
      <tbody><tr>
        <tH>TOTAL</tH><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.subtotaltotal, precision: 2) %></td>
        <tH>TOTAL</tH><th></th><th></th><th></th><th></th>
        <td><%= number_to_currency(@cost_sheet.subtotaltotal, precision: 2) %></td>
      </tr></tbody>
      <tr style="height:20px;"></tr>

      <!-- SCRAP -->
      <thead><tr>
        <th>SCRAP</th><th>DESCRIPTION</th><th>QTY/SF/FT</th><th></th><th></th>
        <th>UNIT.PRICE</th><th>TOTAL</th>
        <th>SCRAP</th><th>DESCRIPTION</th><th>QTY/SF/FT</th><th>TONS</th><th>UNIT.PRICE</th><th>TOTAL</th>
      </tr></thead>
      <% scrap_rows.each do |row| %>
        <% n = row[:n]; et = @estimated.send(:"mtotal#{n}"); ct = @cost_sheet.send(:"mtotal#{n}") %>
        <tbody><tr>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @estimated.send(:"mdescription#{n}") %></td>
          <td><%= @estimated.send(:"mqtysfft#{n}") %></td>
          <td></td><td></td>
          <td><%= @estimated.send(:"mpricing#{n}") %></td>
          <td><%= et == 0.0 ? "" : number_to_currency(et, precision: 2) %></td>
          <td class="celda2"><%= row[:lbl] %></td>
          <td><%= @cost_sheet.send(:"mdescription#{n}") %></td>
          <td><%= @cost_sheet.send(:"mqtysfft#{n}") %></td>
          <td><%= @cost_sheet.send(row[:tons]) %></td>
          <td><%= @cost_sheet.send(:"mpricing#{n}") %></td>
          <td><%= ct == 0.0 ? "" : number_to_currency(ct, precision: 2) %></td>
        </tr></tbody>
      <% end %>
      <tbody><tr>
        <th> SALVAGE</th><td></td><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@estimated.totalsalvage, precision: 2) %></td>
        <th> SALVAGE</th><td></td><td></td><td></td><td></td>
        <td><%= number_to_currency(@cost_sheet.mpricing12, precision: 2) %></td>
      </tr></tbody>
      <tbody><tr>
        <tH></tH><th></th><th></th><th></th><th></th>
        <th>TOTAL SALVAGE</th>
        <th><%= number_to_currency(@estimated.salvage, precision: 2) %></th>
        <th></th><th></th><th></th><th></th>
        <th>TOTAL SALVAGE</th>
        <th><%= number_to_currency(@cost_sheet.salvagetotal, precision: 2) %></th>
      </tr></tbody>

      <!-- SUMMARY -->
      <tr style="height:20px;"></tr>
      <tbody><tr>
        <th>SF / L.F</th>
        <td><%= number_to_currency(@estimated.sf, precision: 2, unit: '') %></td>
        <td></td><td></td>
        <th>SUBTOTAL</th>
        <td><%= number_to_currency(@estimated.subtotal, precision: 2) %></td>
        <th></th><th></th><th></th><th></th><th></th>
        <th>ACTUAL JOB COST TOTAL</th>
        <th><%= number_to_currency(@cost_sheet.subtotal, precision: 2) %></th>
      </tr></tbody>
      <tbody><tr>
        <th>PER SF / L.F $</th>
        <td><%= number_to_currency(@estimated.persf, precision: 2) %></td>
        <td></td><td></td>
        <tH>PERCENTAGE %: <%= @estimated.profitporcen %></tH>
        <td><%= number_to_currency(@estimated.profit, precision: 2) %></td>
        <th></th>
        <td class="celda2">CHARGE ORDER #1</td>
        <td><%= number_to_currency(@cost_sheet.vsa, precision: 2) %></td>
        <td></td><td></td>
        <tH>DIFFERENCES OF ACTUAL COST</tH>
        <th><%= number_to_currency(@cost_sheet.totalvs, precision: 2) %></th>
      </tr></tbody>
      <tbody><tr>
        <td></td><td></td><td></td><td></td>
        <th> TOTAL CONTRACT </th>
        <td><%= number_to_currency(@estimated.total, precision: 2) %></td>
        <th></th>
        <td class="celda2">CHARGE ORDER #2</td>
        <td><%= number_to_currency(@cost_sheet.vse, precision: 2) %></td>
        <td></td><td></td><td></td><td></td>
      </tr></tbody>
      <tbody><tr>
        <td></td><td></td><td></td><td></td>
        <th>SALVAGE</th>
        <td><%= number_to_currency(@estimated.salvage, precision: 2) %></td>
        <th></th>
        <td class="celda2">CHARGE ORDER #3</td>
        <td><%= number_to_currency(@cost_sheet.vsm, precision: 2) %></td>
        <tD></tD><tD></tD>
        <th>PER SF / L.F $</th>
        <td><%= number_to_currency(@cost_sheet.persf, precision: 2) %></td>
      </tr></tbody>
      <tbody><tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><th></th>
        <td class="celda2">CHARGE ORDER #4</td>
        <td><%= number_to_currency(@cost_sheet.vst, precision: 2) %></td>
        <td></td><td></td>
        <th>DAILY LOGS EXPENSES</th>
        <td><%= number_to_currency(@cost_sheet.dailyexpenses, precision: 2) %></td>
      </tr></tbody>
      <tbody><tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><tD></tD>
        <td class="celda2 bottom-line">CHARGE ORDER #5</td>
        <td class="bottom-line"><%= number_to_currency(@cost_sheet.vsp, precision: 2) %></td>
        <td></td><tD></tD>
        <th>PROFIT OF CHANGE O.</th>
        <th><%= number_to_currency(@cost_sheet.tcontract, precision: 2) %></th>
      </tr></tbody>
      <tbody><tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <th>TOTAL CHARGE ORDER</th>
        <th><%= number_to_currency(@cost_sheet.sumco, precision: 2) %></th>
        <td></td><td></td>
        <th style="background-color:rgb(207,243,203)">TOTAL SCRAP</th>
        <th><%= number_to_currency(@cost_sheet.salvage, precision: 2) %></th>
      </tr></tbody>
      <tbody><tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <th>COST OF CHARGE ORDER</th>
        <th><%= number_to_currency(@cost_sheet.charge_cost, precision: 2) %></th>
        <td></td><td></td>
        <th style="background-color:rgba(251,234,255,0.94)">TOTAL INVOICE</th>
        <th><%= number_to_currency(@cost_sheet.invoice, precision: 2) %></th>
      </tr></tbody>
      <tbody><tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><tD></tD>
        <th></th><th></th><td></td><td></td>
        <th style="background-color:rgb(255,223,201)">SUBC / ALT</th>
        <th><%= number_to_currency(@cost_sheet.vscontractor, precision: 2) %></th>
      </tr></tbody>
      <tbody><tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><tD></tD>
        <th></th><th></th><td></td><td></td>
        <th style="background-color:rgb(200,222,246)">TOTAL PROFIT</th>
        <th><%= number_to_currency(@cost_sheet.tprofitsalvage, precision: 2) %></th>
      </tr></tbody>
    </table>
  </div>
  <%= link_to 'Edit', edit_cost_sheet_path(@cost_sheet) %> |
  <%= link_to 'Back', cost_sheets_path %>
</div>

<script>
    document.getElementById("print-button").addEventListener("click", function() {
        let printContents = document.getElementById("section-to-print").innerHTML;
        let originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        window.location.reload();
        document.body.innerHTML = originalContents;
    });

    var celdas = document.getElementsByClassName("celda2");
    for (var i = 0; i < celdas.length; i++) {
        celdas[i].style.backgroundColor = "#d0e5ff";
        celdas[i].style.fontWeight = "bold";
    }

    const tableHeaders = document.querySelectorAll("thead th");
    for (const header of tableHeaders) {
        header.style.backgroundColor = "rgba(217,213,213,0.94)";
    }
    const tableCells = document.querySelectorAll("td");
    for (const cell of tableCells) {
        if (cell.textContent.trim().length === 0 ||
            isNaN(parseFloat(cell.textContent.replace(/\$|,/g, ''))) ||
            parseFloat(cell.textContent.replace(/\$|,/g, '')) === 0.0) {
            continue;
        }
        if (parseFloat(cell.textContent.replace(/\$|,/g, '')) > 0) {
            cell.style.backgroundColor = "#e5ff6f";
        } else {
            cell.style.backgroundColor = "#ff9797";
        }
    }

    const tableCells2 = document.querySelectorAll("th");
    for (const cell of tableCells2) {
        if (cell.textContent.trim().length === 0 ||
            isNaN(parseFloat(cell.textContent.replace(/\$|,/g, ''))) ||
            parseFloat(cell.textContent.replace(/\$|,/g, '')) === 0.0) {
            continue;
        }
        if (parseFloat(cell.textContent.replace(/\$|,/g, '')) > 0) {
            cell.style.backgroundColor = "#75ff6b";
        } else {
            cell.style.backgroundColor = "#ff9797";
        }
    }

    var celdas10 = document.getElementsByClassName("celda2");
    for (var i = 0; i < celdas10.length; i++) {
        celdas[i].style.backgroundColor = "#d2ddf3";
        celdas[i].style.fontWeight = "bold";
    }

    function compareQty(base) {
        var v1 = parseFloat(document.getElementById(base + '1').innerHTML);
        var v2 = parseFloat(document.getElementById(base + '2').innerHTML);
        if (v2 === 0) {
            document.getElementById(base + '2').style.clear = 'yellow';
        } else if (isNaN(v1)) {
            document.getElementById(base + '2').style.backgroundColor = '#ff9797';
            document.getElementById(base + '3').style.backgroundColor = '#ff9797';
        } else if (v1 < v2) {
            document.getElementById(base + '2').style.backgroundColor = '#ff9797';
            document.getElementById(base + '3').style.backgroundColor = '#ff9797';
        } else {
            document.getElementById(base + '2').style.backgroundColor = '#75ff6b';
            document.getElementById(base + '3').style.backgroundColor = '#75ff6b';
        }
    }
    ['trash','tree','concrete','rebar','asphalt','fill','rock'].forEach(compareQty);
</script>
