<%= form_with(model: dailylog, html: { multipart: true })  do |form| %>
  <% if dailylog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estimated.errors.count, "error") %> prohibited this estimated from being saved:</h2>
      <ul>
        <% estimated.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <br>
  <div id="table">
    <table class="table table-bordered table-sm" style="width:60%">
      <thead>
      <tr>
        <th>COMPANY NAME</th><th></th><th></th><th>LOCATION</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @cost_sheet.name %></td>
        <td></td><td></td>
        <td><%= form.text_field :location, id: "location", value: @cost_sheet.address %></td>
      </tr>
      </tbody>
      <tr style="height: 20px;"></tr>
      <thead>
      <tr>
        <th></th><th>DATE</th><th>WEATHER</th><th>COST SHEET ID</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td><%= form.date_field :date, :required => true %></td>
        <td><%= form.select :whater, options_for_select([['', 0],['RAINY', 1], ['CLOUDY', 2], ['SUNNY', 3], ['DUSTY', 4], ['SNOW', 5], ['FOG', 6]], selected: @whater_sel) %></td>
        <td><%= form.text_field :cost_sheet_id, value: @variante, style: "width:60px;" %></td>
      </tr>
      </tbody>
      <tr style="height: 20px;"></tr>
      <thead>
      <tr>
        <th>DESCRIPTION</th><th>MANPOWER</th><th>QTY</th><th>MEN HRS</th>
        <th>EQUIPMENT</th><th>QTY HOURS</th>
      </tr>
      </thead>
      <%
        equip_labels = {
          1=>'EXCAVATOR', 2=>'EXCAVATOR 2', 3=>'SCISSOR LIF', 4=>'LOADER',
          5=>'DUMP TRUCK', 6=>'BOBCAT', 7=>'FLOOR SCRAPER', 8=>'WATER TRUCK',
          9=>'COMPRESSOR', 10=>'UTILITY TRUCK'
        }
        # rows 1-6 have explicit equipqty id, 7-10 do not
        equip_has_id = (1..6).to_a
      %>
      <% (1..12).each do |i| %>
        <% desc = i == 3 ? @estimates.adescriptio3 : @estimates.send("adescription#{i}") %>
        <%
          sel = case i
            when 12 then @selector[11]
            when 6..11 then @estimates.send("alabor#{i+1}")
            else @estimates.send("alabor#{i}")
          end
        %>
        <tbody><tr>
          <td><%= desc %></td>
          <td><%= form.select :"alabor#{i}", options_for_select([['', 0], ['LABOR', 1], ['OPERATOR', 2], ['SUPERVISOR', 3], ['DRIVER', 4]], selected: sel), {}, id: "my-select#{i}" %></td>
          <td id="manqty1-row#{i}" class="manl"><div><%= form.text_field :"manqty#{i}", id: "manqty#{i}", style: "width:60px;" %></div></td>
          <td id="hour1-row#{i}" class="hoursl"><div><%= form.text_field :"hour#{i}", id: "hour#{i}", style: "width:60px;" %></div></td>
          <td id="omanqty1-row#{i}" class="mano"><div><%= form.text_field :"omanqty#{i}", id: "omanqty#{i}", style: "width:60px;" %></div></td>
          <td id="ohour1-row#{i}" class="hourso"><div><%= form.text_field :"ohour#{i}", id: "ohour#{i}", style: "width:60px;" %></div></td>
          <td id="smanqty1-row#{i}" class="mans"><div><%= form.text_field :"smanqty#{i}", id: "smanqty#{i}", style: "width:60px;" %></div></td>
          <td id="shour1-row#{i}" class="hourss"><div><%= form.text_field :"shour#{i}", id: "shour#{i}", style: "width:60px;" %></div></td>
          <td id="dmanqty1-row#{i}" class="mand"><div><%= form.text_field :"dmanqty#{i}", id: "dmanqty#{i}", style: "width:60px;" %></div></td>
          <td id="dhour1-row#{i}" class="hoursd"><div><%= form.text_field :"dhour#{i}", id: "dhour#{i}", style: "width:60px;" %></div></td>
          <% if i == 12 %>
            <th>FUEL</th>
            <th>QTY: <%= form.text_field :fuel, style: "width:60px;" %></th>
          <% elsif i == 11 %>
            <td></td><td></td>
          <% elsif equip_has_id.include?(i) %>
            <td><%= equip_labels[i] %></td>
            <td><%= form.text_field :"equipqty#{i}", id: "equipqty#{i}", style: "width:60px;" %></td>
          <% else %>
            <td><%= equip_labels[i] %></td>
            <td><%= form.text_field :"equipqty#{i}", style: "width:60px;" %></td>
          <% end %>
        </tr></tbody>
      <% end %>
      <tr style="height: 20px;"></tr>
      <thead>
      <tr>
        <th>MANPOWER</th><th> QTYS</th><th> HOURS</th><th>OVER T. HOURS</th><TH></TH>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>LABOR</th>
        <td><%= form.text_field :totallqty, id: "totallqty", style: "width:60px;" %></td>
        <td><%= form.text_field :totalhoursl, id: "totalhoursl", style: "width:60px;" %></td>
        <td><%= form.text_field :overl, style: "width:60px;" %></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <tH>OPERATOR</tH>
        <td><%= form.text_field :totaloqty, id: "totaloqty", style: "width:60px;" %></td>
        <td><%= form.text_field :totalhourso, id: "totalhourso", style: "width:60px;" %></td>
        <td><%= form.text_field :overo, style: "width:60px;" %></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <tH>SUPERVISOR</tH>
        <td><%= form.text_field :totalsqty, id: "totalsqty", style: "width:60px;" %></td>
        <td><%= form.text_field :totalhourss, id: "totalhourss", style: "width:60px;" %></td>
        <td><%= form.text_field :overs, style: "width:60px;" %></td>
        <td></td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <tH>DRIVER</tH>
        <td><%= form.text_field :totaldqty, id: "totaldqty", style: "width:60px;" %></td>
        <td><%= form.text_field :totalhoursd, id: "totalhoursd", style: "width:60px;" %></td>
        <td><%= form.text_field :overd, style: "width:60px;" %></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div style="height: 20px;"></div>
  </div>
  <div id="table">
    <table class="table table-bordered table-sm" style="width:60%">
      <%
        disposal_sections = [
          {
            label: 'CONCRETE', pfx: 'c', qty_cls: 'cqty1', gap: false,
            p_fld: %w[cpricing1 cpricing20 cpricing30 cpricing40],
            p_id:  %w[cpricing1 cpricing20 cpricing30 cpricing40],
            t_fld: %w[ctotal10 ctotal20 ctotal30 ctotal40],
            tons: :tconcrete, sq_fld: :concrete,   sq_id: 'concrete',
            st_fld: :pconcrete,  st_id: 'totalconcrete', st_tag: 'tH'
          },
          {
            label: 'CONCRETE / REBAR', pfx: 'x', qty_cls: 'xqty1', gap: false,
            p_fld: %w[xpricing1 xpricing2 xpricing3 xpricing4],
            p_id:  %w[xpricing1 xpricing20 xpricing30 xpricing40],
            t_fld: %w[xtotal10 xtotal20 xtotal30 xtotal40],
            tons: :trebar, sq_fld: :rebar,        sq_id: 'rebar',
            st_fld: :prebar,     st_id: 'totalrebar',    st_tag: 'tH'
          },
          {
            label: 'ASPHALT', pfx: 'a', qty_cls: 'aqty1', gap: true,
            p_fld: %w[apricing1 apricing20 apricing3 apricing4],
            p_id:  %w[apricing1 apricing20 apricing3 apricing4],
            t_fld: %w[atotal1 atotal20 atotal3 atotal4],
            tons: :tasphalt, sq_fld: :asphalt,    sq_id: 'asphalt',
            st_fld: :pasphalt,   st_id: 'pasphalt',      st_tag: 'td'
          },
          {
            label: 'FILL', pfx: 'f', qty_cls: 'fqty1', gap: true,
            p_fld: %w[fpricing10 fpricing20 fpricing3 fpricing4],
            p_id:  %w[fpricing10 fpricing20 fpricing3 fpricing4],
            t_fld: %w[ftotal10 ftotal20 ftotal3 ftotal4],
            tons: :tfill, sq_fld: :fill,          sq_id: 'fill',
            st_fld: :pfill,      st_id: 'pfill',         st_tag: 'td'
          },
          {
            label: 'VEGETATION', pfx: 'v', qty_cls: 'vqty1', gap: true,
            p_fld: %w[vpricing10 vpricing20 vpricing3 vpricing4],
            p_id:  %w[vpricing10 vpricing20 vpricing3 vpricing4],
            t_fld: %w[vtotal10 vtotal20 vtotal3 vtotal4],
            tons: :tvegetation, sq_fld: :vegitation, sq_id: 'vegitation',
            st_fld: :pvegitation, st_id: 'pvegitation', st_tag: 'td'
          },
          {
            label: 'C&D / TRASH', pfx: 't', qty_cls: 'tqty1', gap: true,
            p_fld: %w[tpricing10 tpricing20 tpricing3 tpricing4],
            p_id:  %w[tpricing10 tpricing20 tpricing3 tpricing4],
            t_fld: %w[ttotal10 ttotal20 ttotal3 ttotal4],
            tons: :ttrash, sq_fld: :trash,         sq_id: 'trash',
            st_fld: :ptrash,     st_id: 'ptrash',        st_tag: 'td'
          },
          {
            label: 'ROCK', pfx: 'r', qty_cls: 'rqty1', gap: true,
            p_fld: %w[rpricing1 rpricing2 rpricing3 rpricing4],
            p_id:  %w[rpricing1 rpricing2 rpricing3 rpricing4],
            t_fld: %w[rtotal1 rtotal2 rtotal3 rtotal4],
            tons: :trock, sq_fld: :rock,           sq_id: 'rock',
            st_fld: :prock,      st_id: 'prock',         st_tag: 'td'
          },
        ]
      %>
      <% disposal_sections.each do |s| %>
        <% if s[:gap] %><tr style="height: 20px;"></tr><% end %>
        <thead><tr>
          <th><%= s[:label] %></th><th>TRANSPORTER</th><th>QTY</th><th>PRICE</th><th>TOTAL P</th>
        </tr></thead>
        <% 4.times do |j| %>
          <tbody><tr>
            <th></th>
            <td><%= form.text_field :"#{s[:pfx]}transporter#{j+1}", id: "#{s[:pfx]}transporter#{j+1}", style: "width:120px;" %></td>
            <td class="<%= s[:qty_cls] %>"><%= form.text_field :"#{s[:pfx]}qty#{j+1}", id: "#{s[:pfx]}qty#{j+1}", style: "width:60px;" %></td>
            <td><%= form.text_field s[:p_fld][j].to_sym, id: s[:p_id][j], style: "width:80px;" %></td>
            <td><%= form.text_field s[:t_fld][j].to_sym, id: s[:t_fld][j], style: "width:80px;" %></td>
          </tr></tbody>
        <% end %>
        <tbody><tr>
          <tH>TONS: <%= form.text_field s[:tons], style: "width:60px;" %></tH>
          <tH>QTYS: </tH>
          <tH><%= form.text_field s[:sq_fld], id: s[:sq_id], style: "width:60px;" %></tH>
          <th>TOTAL PRICE</th>
          <% if s[:st_tag] == 'tH' %>
            <tH><%= form.text_field s[:st_fld], id: s[:st_id], style: "width:80px;" %></tH>
          <% else %>
            <td><%= form.text_field s[:st_fld], id: s[:st_id], style: "width:80px;" %></td>
          <% end %>
        </tr></tbody>
      <% end %>
      <tr style="height: 20px;"></tr>
      <thead><tr>
        <th>MISCELLANEOUS</th><th>DETAIL</th><th></th><th>PRICE</th>
      </tr></thead>
      <% misc_tot_flds = [:mtotal1, :rtotal2, :mtotal3, :mtotal4, :mtotal5, :mtotal6] %>
      <% 6.times do |j| %>
        <tbody><tr>
          <th></th>
          <td><%= form.text_field :"mtransporter#{j+1}", id: "mtransporter#{j+1}", style: "width:120px;" %></td>
          <td></td>
          <td><%= form.text_field :"mpricing#{j+1}", id: "mpricing#{j+1}", style: "width:80px;" %></td>
          <td style="display: none;"><%= form.text_field misc_tot_flds[j], id: "mtotal#{j+1}", style: "width:80px;" %></td>
        </tr></tbody>
      <% end %>
      <tbody><tr>
        <tH></tH><tH></tH>
        <th>TOTAL</th>
        <td><%= form.text_field :pmisellaneous, id: 'pmisellaneous', style: "width:80px;" %></td>
      </tr></tbody>
      <tr style="height: 20px;"></tr>
    </table>
    <br>
    <%= form.text_area :remarks, rows: 8, cols: 185, placeholder: "WORK DESCRIPTION:" %> <br>
    <br>
  </div>
  <br>
  <%= form.text_area :comments, rows: 4, cols: 185, placeholder: "COMMENTS:" %>
  <br>
  <br>
  <%= form.file_field :avatar, multiple: true %>
  <br>
  <br>
  <div class="actions">
    <%= form.submit 'Save daily Log' %>
  </div>
  <br>
  <br>
<% end %>

<script>
    $(document).ready(function(){
        for (var i = 1; i <= 12; i++) line(i);
        $('input').on('input', function(){
            [['manl','totallqty'],['hoursl','totalhoursl'],['mano','totaloqty'],
             ['hourso','totalhourso'],['mans','totalsqty'],['hourss','totalhourss'],
             ['mand','totaldqty'],['hoursd','totalhoursd'],
             ['cqty1','concrete'],['xqty1','rebar'],['aqty1','asphalt'],
             ['fqty1','fill'],['vqty1','vegitation'],['tqty1','trash'],['rqty1','rock']
            ].forEach(function(p){ sumByClass(p[0], p[1]); });

            [
                ['#cqty1','#cpricing1','#ctotal10'], ['#cqty2','#cpricing20','#ctotal20'],
                ['#cqty3','#cpricing30','#ctotal30'], ['#cqty4','#cpricing40','#ctotal40'],
                ['#xqty1','#xpricing1','#xtotal10'], ['#xqty2','#xpricing20','#xtotal20'],
                ['#xqty3','#xpricing30','#xtotal30'], ['#xqty4','#xpricing40','#xtotal40'],
                ['#aqty1','#apricing1','#atotal1'],  ['#aqty2','#apricing20','#atotal20'],
                ['#aqty3','#apricing3','#atotal3'],  ['#aqty4','#apricing4','#atotal4'],
                ['#fqty1','#fpricing10','#ftotal10'],['#fqty2','#fpricing20','#ftotal20'],
                ['#fqty3','#fpricing3','#ftotal3'],  ['#fqty4','#fpricing4','#ftotal4'],
                ['#vqty1','#vpricing10','#vtotal10'],['#vqty2','#vpricing20','#vtotal20'],
                ['#vqty3','#vpricing3','#vtotal3'],  ['#vqty4','#vpricing4','#vtotal4'],
                ['#tqty1','#tpricing10','#ttotal10'],['#tqty2','#tpricing20','#ttotal20'],
                ['#tqty3','#tpricing3','#ttotal3'],  ['#tqty4','#tpricing4','#ttotal4']
            ].forEach(function(p){ multiTransporter(p[0], p[1], p[2]); });

            for (var n = 1; n <= 4; n++) r_multitransporter(n);
            for (var n = 1; n <= 6; n++) m_multitransporter(n);

            [
                [['ctotal10','ctotal20','ctotal30','ctotal40'], 'totalconcrete'],
                [['xtotal10','xtotal20','xtotal30','xtotal40'], 'totalrebar'],
                [['atotal1','atotal20','atotal3','atotal4'], 'pasphalt'],
                [['ftotal10','ftotal20','ftotal3','ftotal4'], 'pfill'],
                [['vtotal10','vtotal20','vtotal3','vtotal4'], 'pvegitation'],
                [['ttotal10','ttotal20','ttotal3','ttotal4'], 'ptrash'],
                [['rtotal1','rtotal2','rtotal3','rtotal4'], 'prock'],
                [['mtotal1','mtotal2','mtotal3','mtotal4','mtotal5','mtotal6'], 'pmisellaneous']
            ].forEach(function(p){ calcSectionTotal(p[0], p[1]); });
        });
    });

    function sumByClass(cls, id) {
        var total = 0;
        $('.' + cls + ' input').each(function() {
            var v = parseFloat($(this).val());
            total += isNaN(v) ? 0 : v;
        });
        $('#' + id).val(total);
    }

    function multiTransporter(qtyId, pricingId, totalId) {
        var v1 = $(qtyId).val();
        var v2 = $(pricingId).val();
        $(totalId).val(v2 === '' ? 0 : v1 * v2);
    }

    function calcSectionTotal(totIds, outputId) {
        var v2 = $('#' + totIds[1]).val();
        if (v2 === '') {
            $('#' + outputId).val(0);
        } else {
            var total = totIds.reduce(function(sum, id) {
                return sum + parseFloat($('#' + id).val());
            }, 0);
            $('#' + outputId).val(total);
        }
    }

    function r_multitransporter(num) {
        let v1 = $('#rqty' + num).val() * 1;
        let v2 = $('#rpricing' + num).val() * 1;
        $('#rtotal' + num).val(v2 === '' ? 0 : v1 * v2);
    }

    function m_multitransporter(num) {
        let v2 = $('#mpricing' + num).val() * 1;
        $('#mtotal' + num).val(v2 === '' ? 0 : v2);
    }

    function total_men() {
        var total = 0;
        for (var i = 1; i <= 12; i++) total += parseInt($('#manqty' + i).val());
        $('#mantotal').val(total);
    }
    function total_hours() {
        var total = 0;
        for (var i = 1; i <= 12; i++) total += parseInt($('#hour' + i).val());
        $('#thours').val(total);
    }
    function total_equip() {
        var total = 0;
        for (var i = 1; i <= 12; i++) total += parseFloat($('#equipqty' + i).val());
        $('#equiptotal').val(total);
    }


    function line(rowNumber) {
        var manqtyRows = $('#manqty1-row' + rowNumber + ', #hour1-row' + rowNumber),
            omanqtyRows = $('#omanqty1-row' + rowNumber + ', #ohour1-row' + rowNumber),
            smanqtyRows = $('#smanqty1-row' + rowNumber + ', #shour1-row' + rowNumber),
            domanqtyRows = $('#dmanqty1-row' + rowNumber + ', #dhour1-row' + rowNumber),
            select = $('#my-select' + rowNumber);

        manqtyRows.show();
        omanqtyRows.hide();
        smanqtyRows.hide();
        domanqtyRows.hide();

        select.on('change', function() {
            var valorSeleccionado = $(this).val();
            switch(valorSeleccionado) {
                case '1':
                    manqtyRows.show(); omanqtyRows.hide(); smanqtyRows.hide(); domanqtyRows.hide(); break;
                case '2':
                    manqtyRows.hide(); omanqtyRows.show(); smanqtyRows.hide(); domanqtyRows.hide(); break;
                case '3':
                    manqtyRows.hide(); omanqtyRows.hide(); smanqtyRows.show(); domanqtyRows.hide(); break;
                default:
                    manqtyRows.hide(); omanqtyRows.hide(); smanqtyRows.hide(); domanqtyRows.show(); break;
            }
        });
    }
</script>
