<p id="notice"><%= notice %></p>

<div class="contextual">
  <%= link_to 'New RFI', new_rfi_path(parametro: params[:parametro]), class: 'btn btn-sm btn-success', style: 'margin-right: 15px; color: black;' %>
</div>
<h1>Daily Log</h1>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th>Rfr #</th>
      <th>Name Company</th>
      <th>Name Project</th>
      <th>Location</th>
      <th>Date  of Request</th>
      <th>Date of Response</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @rfis.each do |rfi| %>
      <tr>
        <td><%= rfi.id %></td>
        <td><%= rfi.cname %></td>
        <td><%= rfi.pname %></td>
        <td><%= rfi.location %></td>
        <td><%= rfi.date %></td>
        <td><%= rfi.date2 %></td>
        <td class="buttons">
          <%= link_to('Show', rfi, :class => 'btn btn-sm btn-info') %>
          <%= link_to('Edit', edit_rfi_path(rfi), :class => 'btn btn-sm btn-warning') %>
          <%= link_to('Delete', rfi, :method => :delete,:class => 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' }) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<% unless @result.nil? %>
  <p> = <%= @result %> </p>
<% end %>
<script>

</script>