<p id="notice"><%= notice %></p>

<h1>Fill Formulas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fill_formulas.each do |fill_formula| %>
      <tr>
        <td><%= link_to 'Show', fill_formula %></td>
        <td><%= link_to 'Edit', edit_fill_formula_path(fill_formula) %></td>
        <td><%= link_to 'Destroy', fill_formula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fill Formula', new_fill_formula_path %>
